{% extends 'base.html' %}
{% load static %}
{% block title %} About us {% endblock %}
{% block content%}

<center>
<h2>About Blutech Digital Solutions</h2>
</center>
<p>
Blutech Digital Solutions founded by Mr. Bernard Kortor on the 5th December, 2018. It's office located At Zaria
Jos.The executive director who is a website and software established the company with primary aim of providing
solutions to daily life activities using digital skills.
</p>
<center>
<img src="{% static 'images/1.jpg' %}">
</center>
{% endblock %}

