{% extends 'base.html' %}
{% load static %}
{% block title %} About us {% endblock %}
{% block content%}

<center>
<h2>About Blutech Digital Solutions</h2>
</center>
<p>
Blutech Digital Solutions founded by Mr. Bernard Kortor on the 5th December, 2018. It's office located At Zaria
Jos.The executive director who is a website and software established the company with primary aim of providing
solutions to daily life activities using digital skills.
</p>

<p>
    Aims and Objectives of Counseling
Counseling aims at helping the clients understand and accept themselves “as they are”, And counseling is to help the student to help himself.
The main objective of counseling is to bring about a voluntary change in the client. For this purpose the counselor provides facilities to help achieve the desird change or make the suitable choice.
According to Dunsmoor and miller, the purpose of student counseling are :-
1. To give the student information on matters important to success.
2. To get information about student which will be of help in solving his problems.
3. To establish a feeling of mutual understanding between student and teacher.
4. To help the student work out a plan for solving his difficulties.
5. To help the student know himself better-his interests, abilities, aptitudes, and oppurtunities.
6. To encourage and develop special abilities and right attitudes.
7. To inspire successful endeavor toward attainment.
8. To assist the student in planning for educational and vocational choices.
Counseling Goals
The goal of counseling is to help individuals overcome their immediate problems and also to equip them to meet future problems. Counseling, to be meaningful has to be specific for each client since it involves his unique problems and expectations. The goals of counseling may be described as immediate, long-range, and process goals. A statement of goals is not only important but also necessary, for it provides a sense of direction and purpose. Additionally it is necessary for a meaningful evaluation of the usefulness of it. 
The counselor has the goal of understanding the behavior, motivations, and feelings of the counselee. The counselor has the goals are not limited to understanding his clients. He has different goals at different levels of functioning. The immediate goal is to obtain relief for the client and the long-range goal is to make him ‘a fully functioning person’. Both the immediate and long- term goals are secured through what are known as mediate or process goals.
Specific counseling goals are unique to each client and involve a consideration of the client’s expectations as well as the environmental aspects. Apart from the specific goals, there are two categories of goals which are common to most counseling situations. These are identified as long-range and process goals. The latter have great significance. They shape the counselee and counselors’ interrelations and behavior. The process goals comprise facilitating procedures for enhancing the effectiveness of counseling. The long range –goals are those that reflect the counselor’s philosophy of life and could be stated as
1. To help the counselee become self-actualizing.
2. To help the counselee attain self-realization.
3. To help the counselee become a fully –functioning person.

</p>
<img src="{% static 'images/1.jpg' %}">
<center>
    <h2> Our Vision</h2>
</center>
<p>
    To become world class digital solution provider for daily human challenges through ICT. Eliminating the stress peoples experienced in handling necessary tasks in every aspect life. 
</p>
<p>
    A comprehensive lecture or lesson plan reflecting those elements about 16 or 17 of them. Activities you want to engage the students in. Do a summary of professor Oyetunde’s pedagogical article in the University of Jos postgraduate book… There are about 9 sections, summarise it in 9 paragraph should not be more than 3 sentences in lieu of this writing an examination.
Demonstrate you understand the implications of those elements e.g. the topic must be straight forward, identify the content for the topic, your statement of previous knowledge, instructional material, the purpose they will serve and at what stage of the lecture, your objectives stated in measureable terms, activities in line with your topic, steps and activities created to expose the students to the contents, application how you will guide them to apply what they have learnt, learning out comes at 3 levels of understanding, literal or factual level, inferential… how to express their opinions and how to conclude which shouldn’t be by telling all the time and what assignment you will give them. 

</p>
<img src="{% static 'images/1.jpg' %}">
<center>
    <h2> Our Mission</h2>
</center>
<p>
We committed to create visibility of people businesses globally in order to improve maximum productivity and economic growth of the nation. Creating high integrity of information required by management for proper decision making. Facilitating administrative processes to overcome any challenge that may hinder the growth of any organization. 
</p>
<p>
    A comprehensive lecture or lesson plan reflecting those elements about 16 or 17 of them. Activities you want to engage the students in. Do a summary of professor Oyetunde’s pedagogical article in the University of Jos postgraduate book… There are about 9 sections, summarise it in 9 paragraph should not be more than 3 sentences in lieu of this writing an examination.
Demonstrate you understand the implications of those elements e.g. the topic must be straight forward, identify the content for the topic, your statement of previous knowledge, instructional material, the purpose they will serve and at what stage of the lecture, your objectives stated in measureable terms, activities in line with your topic, steps and activities created to expose the students to the contents, application how you will guide them to apply what they have learnt, learning out comes at 3 levels of understanding, literal or factual level, inferential… how to express their opinions and how to conclude which shouldn’t be by telling all the time and what assignment you will give them. 

</p>

<img src="{% static 'images/1.jpg' %}">

{% endblock %}

