{% extends 'base.html' %}
{% load static %}
{% block title %} About us {% endblock %}
{% block content%}

<center>
<h2>About Blutech Digital Solutions</h2>
</center>
<p>
Blutech Digital Solutions founded by Mr. Bernard Kortor on the 5th December, 2018. It's office located At Zaria
Jos.The executive director who is a website and software established the company with primary aim of providing
solutions to daily life activities using digital skills.
</p>
<img src="{% static 'images/1.jpg' %}">
<center>
    <h2> Our Vision</h2>
</center>
<p>
    To become world class digital solution provider for daily human challenges through ICT. Eliminating the stress peoples experienced in handling necessary tasks in every aspect life. 
</p>
<img src="{% static 'images/1.jpg' %}">
<center>
    <h2> Our Mission</h2>
</center>
<p>
We committed to create visibility of people businesses globally in order to improve maximum productivity and economic growth of the nation. Creating high integrity of information required by management for proper decision making. Facilitating administrative processes to overcome any challenge that may hinder the growth of any organization. 
</p>

<img src="{% static 'images/1.jpg' %}">

{% endblock %}

