{% extends 'base.html' %}
{% load static %}

{% block content%}

<center>
<h2>Our Portfolios</h2>
</center>
<p>
   I. We developed and implement hospital management information system for Kings Parks Poclinics Makurdi, Benue state. 
</p>

<p>
    II. We designed website for International Center for Peace, Charities and Human Development (INTERCEP), in Jos Plateau State.
</p>
<p>
    A comprehensive lecture or lesson plan reflecting those elements about 16 or 17 of them. Activities you want to engage the students in. Do a summary of professor Oyetunde’s pedagogical article in the University of Jos postgraduate book… There are about 9 sections, summarise it in 9 paragraph should not be more than 3 sentences in lieu of this writing an examination.
Demonstrate you understand the implications of those elements e.g. the topic must be straight forward, identify the content for the topic, your statement of previous knowledge, instructional material, the purpose they will serve and at what stage of the lecture, your objectives stated in measureable terms, activities in line with your topic, steps and activities created to expose the students to the contents, application how you will guide them to apply what they have learnt, learning out comes at 3 levels of understanding, literal or factual level, inferential… how to express their opinions and how to conclude which shouldn’t be by telling all the time and what assignment you will give them. 

</p>
<img src="{% static 'images/1.jpg' %}">
{% endblock %}