{% extends 'base.html' %}
{% load static %}
{% block title %} Services {% endblock %}
{% block content%}

<center>
<h2>Our Services</h2>
</center>

<p>
    Blutech Digital Solutions is devoted to provide IT services to individuals and organizations in the following areas;</p>
<p>
I. Computer Maintenance and installations; we carry out hardware and software maintenance to keep your systems in good condition and also ensure efficient and effective functions  
</p>
<p>
    II. Computer networking; We configure wired and wireless local Area Network(LAN), Wide Area Network and Internet to enable different systems at different locations to share informations and devices.
</p>

<p>
    III. Website and software development; we create various categories of website such as school websites, e-commerce websites, church websites, TV channels, corporate websites etc. to assist you in meeting organisations needs. We allso develop customized applications to handle daily tasks in our buusinesses.
</p>

<center>
<img src="{% static 'images/2.jpg' %}">
</center>
{% endblock %}