{% extends 'base.html' %}
{% load static %}
{% block title %} Services {% endblock %}
{% block content%}

<center>
<h2>Our Services</h2>
</center>

<p>
    Blutech Digital Solutions is devoted to provide IT services to individuals and organizations in the following areas;</p>
<p>
I. Computer Maintenance and installations; we carry out hardware and software maintenance to keep your systems in good condition and also ensure efficient and effective functions  
</p>
<p>
    II. Computer networking; We configure wired and wireless local Area Network(LAN), Wide Area Network and Internet to enable different systems at different locations to share informations and devices.
</p>

<p>
    III. Website and software development; we create various categories of website such as school websites, e-commerce websites, church websites, TV channels, corporate websites etc. to assist you in meeting organisations needs. We allso develop customized applications to handle daily tasks in our buusinesses.
</p>
<p>
    A comprehensive lecture or lesson plan reflecting those elements about 16 or 17 of them. Activities you want to engage the students in. Do a summary of professor Oyetunde’s pedagogical article in the University of Jos postgraduate book… There are about 9 sections, summarise it in 9 paragraph should not be more than 3 sentences in lieu of this writing an examination.
Demonstrate you understand the implications of those elements e.g. the topic must be straight forward, identify the content for the topic, your statement of previous knowledge, instructional material, the purpose they will serve and at what stage of the lecture, your objectives stated in measureable terms, activities in line with your topic, steps and activities created to expose the students to the contents, application how you will guide them to apply what they have learnt, learning out comes at 3 levels of understanding, literal or factual level, inferential… how to express their opinions and how to conclude which shouldn’t be by telling all the time and what assignment you will give them. 

</p>

<center>
<img src="{% static 'images/2.jpg' %}">
</center>
{% endblock %}