h1 {
    color: blue;
}

h2  a {
    color: rgb(100, 5, 252);
    text-underline-position: none;
}

.page-header {
    background-color: green;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    }

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #d18989;
        font-size: 36pt;
        text-decoration: none;
        }
.navbar {
    background-color: blueviolet;
    color: forestgreen;
    font-style: normal;
    font-size: x-large;
}


