h1 {
    color: blue;
}

h2  a {
    color: rgb(100, 5, 252);
    text-underline-position: none;
}


.navbar {
    background-color: rgb(237, 234, 240);
    color: rgb(4, 71, 24);
    font-style: normal;
    font-size: large;
}

body{
    background-color: rgb(231, 227, 235);
}


